@mixin transition(
  $props,
  $duration: 0.25s,
  $delay: 0s,
  $timing-function: ease-in-out
) {
  transition-property: $props;
  transition-duration: $duration;
  transition-delay: $delay;
  transition-timing-function: $timing-function;
}
