.mashvp-forms.shortcode-input {
  position: relative;
  display: inline-block;

  input {
    padding-right: 28px;
    font-family: 'Courier New', Courier, monospace;

    @include transition((border-color, box-shadow));

    &:focus {
      border-color: $light-blue;
      box-shadow: 0 0 0 1px $light-blue;

      &[data-clipboard-copied] {
        border-color: $green;
        box-shadow: 0 0 0 1px $green;

        &::selection {
          background: $dark-green !important;
          color: white !important;
        }

        & + span.dashicons {
          opacity: 1;
          color: $dark-green;
        }
      }
    }
  }

  span.dashicons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);

    font-size: 16px;
    opacity: 0.6;

    @include transition((opacity, color));

    pointer-events: none;
  }
}

#post_metadata_mashvp-forms__shortcode {
  .mashvp-forms.shortcode-input {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
