#post_metadata_mashvp-forms__submission-fields {
  .inside {
    padding: 0;
    margin-top: 0;

    dl.mvpf__submission-list {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: stretch;
      gap: 1px;
      margin-top: 0;
      margin-bottom: 0;

      background-color: #ccd0d4;

      dt,
      dd {
        padding: 20px;
        margin: 0;

        background-color: white;
      }

      dt {
        display: flex;
        justify-content: flex-end;

        text-align: right;
        font-weight: 500;

        .label {
          max-width: 42ch;

          text-align: right;
        }
      }

      dd {
        display: flex;
        align-items: center;

        &[data-type='textarea'] {
          white-space: pre-line;
        }

        &[data-type='checkbox'] {
          input[type='checkbox'] {
            &:disabled {
              opacity: 1;

              &::before {
                opacity: 1;
              }
            }

            pointer-events: none;
          }
        }

        &.with-sub-dl {
          padding: 0;
        }
      }

      dl.sub-dl {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: stretch;
        gap: 1px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;

        background-color: darken(white, 10%);

        dt,
        dd {
          background-color: darken(white, 2%);
        }
      }
    }
  }
}
