@import './vars/colors';
@import './vars/inputs';

@import './func/transition';

.mvpf--success {
  color: $green;
}

.mvpf--error {
  color: $red;
}

.mvpf--indeterminate {
  color: lighten(black, 80%);
}

@import './elements/publish-metabox';
@import './elements/shortcode-input';
@import './elements/general-options';
@import './elements/form-fields';
@import './elements/field-options';
@import './elements/form-options';
@import './elements/submission';
